// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {
  max-width: 300px !important;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../assets/fonts/Raleway-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-title {
  font-family: 'Raleway' !important;
}

// Style for H1
h1{
  font-size:36px;
  display:none;
}

h1:after {
  width: 80px;
  display: block;
  margin-top: 13px;
}

.content__element.has_grid:after, .page_content:after, .page_content:before, h1:after, h2.startpage__title:after {
  content: " ";
}

h1:after, h2.startpage__title:after {
  height: 4px;
  background-color: #FDE70E;
}


@media (min-width:768px) {

  h1{
    display: inherit;
  }

  .header-md::after{
    display: none;
  }

  .toolbar-background{
    background: none!important;
  }

  ion-title{
    display: none;
  }
}

$side-menu-padding: 8px 32px;


.side-menu {

  ion-icon{
    float:right;
  }

  .item{
    padding: $side-menu-padding;
  }

  ion-content, button {
    background-color: #fde70e;
  }

  p{
    text-align: center;
  }

  .logo {
    max-height: 32px;
    margin: 25px 0 32px 0;
    padding: 0 32px;
  }

  ion-avatar img{
    margin:auto;
  }

  button{
    font-size: 18px;
    font-weight:500;
  }

  .item:hover{
    background-color: #f5dd19!important;
  }

	.button {
		&__container {
			margin: $side-menu-padding;
			border-bottom: 1px solid black;
		}

		&--lang {
			line-height: 2.4em;
			font-size: 1em;
			text-decoration: none;
			border: none;
			box-shadow: none;
			opacity: .7;
			text-transform: uppercase;
			font-weight: 500;
			padding: 0;
			padding-right: 10px;

			&:hover {
				opacity: 1;
			}

			&.active {
				font-weight: 700;
				opacity: 1;
			}
		}
	}

}

ion-alert .button-inner{
  color:black;
}

.cdk-overlay-pane{
  left:50%!important;
}
