@import '../app-theme';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

md-input {
  margin: 8px 0;
  width: 100%;
}

md-radio-button, md-checkbox {
  margin: 16px 8px;
}

.form {
  display: flex;
}

.form md-card {
  flex-grow: 1;
}

md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  right: 3%;
}

md-raised-button {
  color: black !important;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  width: 120px;
  height: auto;
}

.chips--container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
