picture-upload {

  #spacer, fileupload{
    height:235px;
    background: no-repeat center;
    background-size: cover;
  }

  #overlay    {
    height: 235px;
    background:rgba(0,0,0,.75);
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    padding-top:100px;
  }

  #spacer:hover #overlay {
    opacity:1;
  }

  ion-icon{
    font-size: xx-large;
    color:rgba(255,255,255,.85);
  }

  input{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}




