<md-card class="example-card" *ngFor="let event of events" (click)="openLink(event.id)">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{event.name}}</md-card-title>
    <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
  </md-card-header>
  <img md-card-image src="{{event.image}}">
  <md-card-content>
    {{event.date | date}}
    <p>
      {{event.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>Detail</button>
    <button (click)="openDialog($event)" md-button>Edit</button>
  </md-card-actions>
</md-card>
